<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'app_nego/bootstrap/css/bootstrap.css' %}">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <h1>Despliegue en heroku</h1>
        <br>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui deleniti dolore, pariatur, libero commodi quam laudantium omnis sequi, mollitia et officia. Deserunt quam tempora unde quidem. Quasi error quaerat dolore.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae nam aut adipisci ratione dicta non quo reiciendis? Ullam a libero aliquid quisquam sit, accusantium ipsum nisi qui ex, quibusdam minus?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, alias praesentium. Aut ab autem saepe placeat id eos eum quidem ad, ullam reprehenderit explicabo quia veritatis dolores iste vero dolor.</p>
    </div>
</body>
</html>